/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html, .owo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: text;
  font: normal 12px/180% "SimSun";
  -webkit-overflow-scrolling: touch;
  position: relative;
}
html {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin: 0;
  padding: 0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.logo {
  position: absolute;
  left: 65px;
  top: 236px;
  z-index: 9;
  width: 146px;
}

.scale-box {
  background-image: url('@|one-5.png|');
}

.pc .scale-box {
  width: 100%;
  height: 100%;
  background-image: url("@|pc-bg.jpg|");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.pc .one-box {
  width: 450px;
  height: 480px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.pc .one .so-4 {
  height: 100%;
  top: 0;
  width: auto;
  left: 0;
  right: 0;
  margin: auto;
}

.pc .one .so-3 {
  left: 110px;
  top: 45px;
  font-size: 28px;
  width: 30px;
  line-height: 30px;
  height: 384px;
}

.pc .one .so-2 {
  left: 280px;
  top: 380px;
  width: 110px;
  height: auto;
}

.pc .logo {
  left: -790px;
  right: 0;
  top: -760px;
  bottom: 0;
  margin: auto;
  width: 90px;
}

.pc .two-box {
  width: 913px;
  height: 714px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url("@|two-1-pc.png|");
}

.pc .two .so-1 {
  display: none;
}

.pc .two .text-box {
  top: 110px;
  height: 455px;
}

.pc .two .page {
  top: 50px;
  left: 750px;
}

.pc .two .so-2 {
  top: 575px;
  width: 100px;
  height: auto;
  left: 520px;
  cursor: pointer;
}
.pc .two .so-3 {
  top: 575px;
  width: 100px;
  height: auto;
  left: 630px;
  cursor: pointer;
}

.pc .two .so-4 {
  top: 575px;
  left: 740px;
  width: 120px;
  height: auto;
  cursor: pointer;
}

/*整体部分*/ 
::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
}
/*滑动轨道*/ 
::-webkit-scrollbar-track
{
	border-radius: 5px;
  background: none;
  background-color: #e9e9e9;
}
/*滑块*/
::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: #b8b8b8;
}
/*滑块效果*/ 
::-webkit-scrollbar-thumb:hover
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	
}