/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html, .ox {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: text;
  font: normal 12px/180% "SimSun";
  -webkit-overflow-scrolling: touch;
  position: relative;
}
html {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin: 0;
  padding: 0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}